<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <section class="container-fluid">
      <div class="row">
        <div class="col-md-12 home-title">
          <h1>Home Cooking</h1>
          <span>lets cook together!</span>
        </div>
      </div>
      <div class="home-nav row">
        <div class="col-md-12 navbar-home-section">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Home</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#"
                    >Add Recipe <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Shop</a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    My Account
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Log in</a>
                    <a class="dropdown-item" href="#">Register</a>
                  </div>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input
                  class="form-control mr-sm-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button
                  class="btn btn-outline-success my-2 my-sm-0"
                  type="submit"
                >
                  Search
                </button>
              </form>
            </div>
          </nav>
        </div>
      </div>
    </section>
    <!-- about section-->
    <section class="container-fluid">
      <div class="row about-section">
        <div class="col-md-12 about">
          
          <div class="about-home-cooking">
            <p>
              Cooking is at once child’s play and adult joy. And cooking done
              with care is an act of love. — Craig Claiborne
            </p>
            <hr />
            <p>
              A place where you can share your recipe and find people who are
              passionate about trying something new or enjoying a good home
              recipe idea. The idea of ​​creating a little space for creation
              and inspiration by sharing with the world what you enjoy to do in
              your free time and disconnecting from your routine.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!--Footer section-->
    <section class="container-fluid">
        <div class="recipe-container row">
            <div class="col-md-12 recipe">
                <h2>Recipe</h2>
            </div>
        </div>
    </section>
    <!--Footer section-->
    <section class="container-fluid">
      <div class="row footer-container">
        <div class="col-12">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="https://www.facebook.com/search/top?q=yamii%20home%20cooking"
                target="_blank">Facebook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/yamiihomecooking/"
                target="_blank">Instagram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
